img.profilePic {
	border: 1px solid #ddd;
	border-radius: 5px;
	padding: 0px;
	width: 100%;
	height: 100%;
	margin: 5 5 5 5;
}

div.profileCard {
	border: 1px solid #ddd;
	border-radius: 5px;
	padding: 0px;
	width: 30%;
	margin: auto;
	background: white;
	border: 1px solid #000;
	border-radius: 5px;
}

p.editable {
	display: inline-block;
	min-width: 75%;
	max-width: 75%;
	border: 1px solid #ddd;
	margin-left: 5%;
}

.splitscreen {
    display:flex;
}
.splitscreen .left {
    flex: 1;
	max-width: 25%;
	min-width: 25%;
}
.splitscreen .right {
    flex: 1;
	min-width: 90%;
	max-width: 90%;
}
.splitscreen .leftRadio {
    flex: 1;
	max-width: 50%;
	min-width: 50%;
}
.splitscreen .rightRadio {
    flex: 1;
	min-width: 50%;
	max-width: 50%;
}
.splitscreen .leftPicture {
    flex: 1;
	max-width: 50%;
	min-width: 50%;
}
.splitscreen .rightPicture {
    flex: 1;
	width: 60%;
	max-width: 60%;
	min-width: 60%;
}
