a.login-text {
    text-decoration: none;
    font-family: 'Titillium Web', sans-serif;
    font-weight: 400;
    font-size: 64px;
    padding: 0;
    color: #c1c0b9 !important;
}

span.login-brand {
    text-decoration: none;
    font-family: 'Titillium Web', sans-serif;
    font-weight: 800;
    font-size: 64px;
    padding: 0;
    color: #d5a4cf !important;
    /* text-shadow: 5px 5px lightgray; */
}

.login-brand:hover {
    text-decoration: none;
}

div.banner {
    width: 100%;
    overflow: visible;
    height: 220px;
    padding: 20px;
    background-color: #d5a4cf;
    box-shadow: inset 0 8px 8px -8px rgba(0,0,0,.3),inset 0 -8px 8px -8px rgba(0,0,0,.3);
}

div.banner > h3, div.banner > div.container > h3 {
    font-size: 48px;
    text-decoration: none;
    color: white;
	text-shadow: 0 1px 3px rgba(0,0,0,.3);
	font-weight: 700 !important;
	font-size: 3.5rem;
    font-family: 'Titillium Web', sans-serif;
    font-weight: bold;
}

div.banner > img.profilePic {
    width: 100px;
    height: 100px;
    border: none;

}

h4.post-title {
    font-family: 'Titillium Web', sans-serif;
    font-weight: 600 !important;
    font-size: 52px;
    color: white;
}

p.post-author {
    font-family: 'Titillium Web', sans-serif;
    font-weight: 600 !important;
    color: white;
}

p.post-date {
    font-family: 'Titillium Web', sans-serif;
    font-weight: 400 !important;
    color: rgb(255, 227, 254);
}

img.post-avatar-image {
    height: 50px;
    width: 50px;
}

p.post-text {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400 !important;
    font-size: 18px;
}

form.comment-form, div.comment-card {
    max-width: 60%;
    margin: auto;
}

button.comment-btn {
    background-color: #d5a4cf;
    border: none;
}

button.comment-btn:hover {
    background-color: #b689b0;
    border: none;
}

button.comment-btn:active {
    background-color: #b689b0 !important;
    border: none;
}

img.comment-avatar-image {
    height: 25px;
    width: 25px;
}

a.comment-author {
    color: #b689b0;
}

p.comment-date {
    color: lightgray;
}

button.post-btn {
    background-color: #d5a4cf;
    border: none;
}

button.post-btn:hover {
    background-color: #b689b0;
    border: none;
}

button.post-btn:active {
    background-color: #b689b0 !important;
    border: none;
}